@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Libre+Baskerville&family=Rubik&display=swap');

body {
  margin: 0;
  font-family: 'Libre Baskerville', serif !important;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

header {
  position: absolute;
  width: 100vw;
  background: #10161C;
  display: grid;
  place-content: center;
  z-index: 5;
}

header > div {
  width: 70vw;
  height: 100%;
  display: flex;
  color: #eeeeee;
}

main {
  perspective: 200em;
}

#about {
  width: 100vw;
  height: 100vh;
  color: white;
  position: absolute;
  z-index: 4;
}

#landing-name {
  position: absolute;
  left: 15vw;
  bottom: 3vh;
}

#scroll-prompt {
  position: absolute;
  right: 15vw;
  bottom: 3vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#scroll-prompt p {
  position: relative;
  top: 15px;
  opacity: 0;
  animation: scroll-prompt-text-pop 20s infinite;
}

#scroll-prompt svg {
  position: relative;
  bottom: 10px;
  opacity: 0;
  animation: scroll-prompt-arrow-pop 20s infinite;
}

@keyframes scroll-prompt-text-pop {
  80%{
    top: 15px;
    opacity: 0;
  }
  86% {
    top: 0;
    opacity: 1;
  }
  87.4% {
    top: 2px;
  }
  93% {
    top: 5px;
  }
  95% {
    top: 0;
    opacity: 1;
  }
}

@keyframes scroll-prompt-arrow-pop {
  80%{
    bottom: 10px;
    opacity: 0;
  }
  86% {
    bottom: 9px;
    opacity: 0;
  }
  87.4% {
    bottom: 5px;
    opacity: 1;
  }
  93% {
    bottom: 5px;
    opacity: 1;
  }
  95% {
    bottom: 0;
    opacity: 0;
  }
}

#about h1 {
  font-size: xx-large;
  line-height: 0;
}

#about span:hover {
  position: relative;
  left: 0;
  top: 0;
  animation: letter-hover 1.75s infinite;
}

#gear-box {
  z-index: 1;
  height: 100vh;
  background: #20262C;
}

#big-gear-1 {
  position: absolute;
  right: 5vw;
  bottom: 5vh;
  animation: gear-turn-clockwise 8s linear infinite;
}

#big-gear-2 {
  position: absolute;
  right: calc(5vw + 67.2vmin);
  bottom: calc(5vh + 27.7vmin);
  animation: gear-turn-counterclockwise 8s linear infinite;
}

@keyframes gear-turn-clockwise {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes gear-turn-counterclockwise {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(-360deg);
  }
}

#coming-soon-div {
  height: 160px;
  width: 400px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  background: #10161c;
  border: 6px solid #40464c;
  border-radius: 12px;

  display: grid;
  place-content: center;
  color: #90969c;
}

@keyframes letter-hover {
  9% {
    color: gold;
    left: 5px;
    top: -3px;
  }
  18% {
    color: skyblue;
    left: -2px;
    top: -5px;
  }
  27% {
    color: royalblue;
    left: 3px;
    top: 1px;
  }
  36% {
    color: orange;
    left: 1px;
    top: 4px;
  }
  45% {
    color: orangered;
    left: 4px;
    top: -1px;
  }
  55% {
    color: slateblue;
    left: -5px;
    top: 3px;
  }
  64% {
    color: yellow;
    left: -1px;
    top: -3px;
  }
  73% {
    color: wheat;
    left: 4px;
    top: 2px;
  }
  82% {
    color: burlywood;
    left: -3px;
    top: -4px;
  }
  91% {
    color: darkslateblue;
    left: 1px;
    top: 5px;
  }
}

.content-card {
  position: absolute;
  width: max(35vw, 560px);
  min-height: 100vh;

  padding: 5vh 2em;
  text-align: justify;
  font-size: 14pt;

  background: #30363c;
  color: #eeeeee;
  z-index: 2;

  box-shadow: 0 0 2vw #10161c;
  border-left: 8px solid royalblue;
  border-right: 8px solid gold;
  border-radius: 8px;
  overflow: visible;

  display: grid;
  place-content: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#skills-about {
  left: 15vw;
}

#sensible-card {
  right: 15vw;
}

#contact-card {
  left: 50vw;
  transform: translate(-50%, 0);
  min-height: unset;
  height: 70vh;
}

.section-head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-head * {
  margin-block: 0;
}

.section-head h1 {
  text-transform: uppercase;
}

.section-head::after, .section-head::before {
  content: '';
  display: grid;
  height: 2px;
  width: 3em;
  background: #eeeeee;
  border-radius: 2px;
  margin: auto 1.5em;
}

.skill-paragraph {
  align-items: center;
  text-align: center;
}

.skill-paragraph :not(:first-child, span ~ br + span)::before {
  content: ' - ';
  color: lightslategray;
  font-weight: bolder;
}

form {
  display: grid;
  grid-template-areas:
    "ln   inn "
    "le   ine "
    "lp   inp "
    "lm   lm  "
    "inm  inm "
    "sub  sub";
  grid-gap: 8px 8px;

  padding: 2em;

  border-bottom: 2px solid black;
  border-top: 1px solid black;
  border-left: 4px solid gold;
  border-right: 4px solid royalblue;
  border-radius: 8px;
}

#confirm-send {
  background: lightgreen;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-content: center;
  height: 0;
  width: 8px;
  border-radius: 6px;
  overflow: hidden;
}

.confirmed {
  animation: confirm-animation 750ms forwards;
}

@keyframes confirm-animation {
  50% {
    height: 12em;
    width: 8px;
  }
  100% {
    height: 12em;
    width: 12em;
  }
}

input[type='text'], textarea {
  border: none;
  border-radius: 8px;
}

.error {
  border: 2px solid crimson;
}

#name-label {
  grid-area: ln;
}

#email-label {
  grid-area: le;
}

#phone-label {
  grid-area: lp;
}

#message-label {
  grid-area: lm;
}

#contact-name {
  grid-area: inn;
}

#contact-email {
  grid-area: ine;
}

#contact-phone {
  grid-area: inp;
}

#contact-message {
  grid-area: inm;
}

#contact-submit {
  grid-area: sub;
  height: 1.5em;
  font-family: "Dongle", serif;
  font-size: 24pt;
  color: white;
  border: none;
  border-radius: 8px;
  background: royalblue;
}

#contact-submit:hover {
  background: #2149c1;
}

.hide {
  display: none;
}
