body {
	position: relative;
	margin: 0;
	overflow: hidden;
	display: grid;
	place-content: center;
}

#width-limit {
	width: max(400px, 70vw);
}

#about-container {
	display: flex;
	height: 100vh;
	width: 100%;
	flex-direction: row;
}

#about-left {
	flex: 3;
	height: 100%;
}

#about-right {
	flex: 1;
}

.org {
	background-color: orange;
}