body {
	position: relative;
	margin: 0;
	
	background-color: #630824;
	
	overflow-x: scroll;
	overflow-y: hidden;
	
	perspective: 800px;
}

.cube-side {
	position: absolute;
	width: 150px; height: 150px;
	border: 2px solid black;
	background-color: transparent;
}

#side0 {
	background-color: red;
	
	transform: translate(50vw, 50vh) translateZ(75px);
}

#side1 {
	background-color: orange;
	
	transform: translate(50vw, 50vh) translateZ(-75px);
}

#side2 {
	background-color: blue;
	
	transform: translate(calc(50vw + 75px), 50vh) translateZ(0) rotateY(90deg);
}

#side3 {
	background-color: green;
}

#side4 {
	background-color: white;
}

#side5 {
	background-color: white;
}