@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Source+Serif+4&display=swap');

/* Tags */
body {
  margin: 0;
  display: grid;
  place-content: center;

  background: #beb596;
  user-select: none;
}

main {
  margin: 6rem 0;
  width: clamp(800px, 45vw, 300px);

  display: grid;
  place-content: center;
  
  background: #e3e3e3;
  border-radius: 8px;

  box-shadow: 0 0 25px 2px #131313;
}

section {
  width: clamp(800px, 45vw, 300px);
  border-bottom: 3px solid black;
}

h1 {
  font-family: 'Source Serif 4', sans-serif;
}

h2 {
  font-family: 'Dongle', serif;
}

/* classes */
.spacer {
  width: 100%;
  height: 2em;
  background: #108392;
}

.end {
  border-radius: 0px 0px 6px 6px;
}

.project-left, .project-right {
  display: flex;
  flex-direction: row;
}

.project-right {
  flex-direction: row-reverse;
}

.project-img-container {
  overflow: visible;
  width: 260px;
  height: 260px;
}

.project-img {
  position: relative;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);

  border-radius: 6px;
}

.project-text {
  flex: 1;
}

/* animations */
.push {
  background: url("https://picsum.photos/260");
  background-size: cover;
}

.push * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  user-select: none;
}

.push:hover {
  transform: rotateX(15deg) rotateY(20deg);
  border-radius: 6px;
  box-shadow: 10px -10px #13131366;
  transition: 300ms ease;
}

.push:hover * {
  position: absolute;
  top: 50%;
  transform: translate(calc(-50% - 10px), calc(-50% + 10px));
  transition: 300ms ease;
}

.push::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
}

.push:hover::after {
  transform: translate(-10px, 10px);
  border: 2px solid black;
  border-radius: 6px;
  background-color: transparent;
  transition: transform 300ms ease;
}

.push:active, .push:active *, .push:active::after {
  transition: 150ms ease;
}

.push:active {
  box-shadow: 5px -5px #13131366;
  transform: translate(5px, -5px) rotateX(15deg) rotateY(20deg);
}

.push:active::after {
  transform: translate(-5px, 5px);
}

/* id-specific */

#about {
  display: grid;
  place-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#about-img {
  height: 250px;
}

